<!-- Author: Austin Coules (C23444946) -->

<div class="help-section">
    <img class="help-icon" src="../../../static/assets/help.svg">
    <p class="help-text">{{_('Need help with your order?')}}</p>
    {# placeholder link pieces so translators can reorder markup as needed #}

    <div class="accordion" id="helpAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{_('I want to change my order')}}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#helpAccordion">
                <p class="accordion-text">{{ _('You can edit your order within the first 3 minutes of ordering %(open)shere%(close)s. It can take up to 3 days to reprocess the payment.', open = a_open, close = a_close) }}</p>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    {{_('My order did not arrive')}}
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#helpAccordion">
                <p class="accordion-text">{{ _('Use our %(open)sLive Chat%(close)s to discuss the matter with our support. An investigation may take a few days.', open = a_open, close = a_close) }}</p>
            </div>
        </div>
        <div class="accordion-item">
            <h2>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    {{_('Part of my order is missing')}}
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#helpAccordion">
                <p class="accordion-text">{{ _('Please %(open)supload%(close)s photo evidence of your receipt. You will be refunded in two days.', open = a_open, close = a_close) }}</p>
            </div>
        </div>
    </div>
</div>
