{% extends "base.html" %}

{% block title %}
Landing
{% endblock %}

{% block page_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/' + lang_code + '/landing.css') }}"
>
{% endblock %}

{% block navigation %}
  {% set lang_code = session.get('language', 'en') %}
  {% include 'includes/' + lang_code + '/navbar.html' %}
{% endblock %}

{% block content %}
<section class="landing-page">
  <div class="panel">

        <form action="{{ url_for('restaurant') }}" method="get">
          <button type="submit" class="btn btn-primary">
            View Restaurant
          </button>
        </form>


    <h1>{{ _('Burger King Baggot St') }}</h1>

    <img
      class="restaurant-image"
      src="{{ url_for('static', filename='assets/' + lang_code + '/burgerKingImg.jpg') }}"
      alt="Burger King"
    >

    <div class="progress-icons">
      <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item">⭐ 4.4</li>
        <li class="list-group-item">🛵 10–15 min</li>
        <li class="list-group-item">€4–20</li>
      </ul>
    </div>

    <div class="receipt">
      <h2 class="restaurant-name fs-5 fw-semibold mb-3">
        {{ _('Restaurant Name') }}
      </h2>

      <!-- Restaurants -->
      <ul class="list-group list-group-flush border-top">

        <!-- Domino's -->
        <li class="list-group-item bg-transparent border-0 py-3">
          <div class="restaurant-row">
            <span>{{ _('Domino\'s Rathmines') }}</span>
            <img
              class="restaurant-logo"
              src="{{ url_for('static', filename='assets/' + lang_code +'/dommy.webp') }}"
              alt="Domino's"
            >
          </div>

          <ul class="list-group list-group-horizontal justify-content-between mt-2">
            <li class="list-group-item">⭐ 2.4</li>
            <li class="list-group-item">🛵 15–25 min</li>
            <li class="list-group-item">€14–30</li>
          </ul>
        </li>

        <!-- McDonald's -->
        <li class="list-group-item bg-transparent border-0 py-3">
          <div class="restaurant-row">
            <span>{{ _('McDonald\'s O\'Connell St') }}</span>
            <img
              class="restaurant-logo"
              src="{{ url_for('static', filename='assets/' + lang_code +'/mcdonalds.jpg') }}"
              alt="McDonald's"
            >
          </div>

          <ul class="list-group list-group-horizontal justify-content-between mt-2">
            <li class="list-group-item">⭐ 4.1</li>
            <li class="list-group-item">🛵 10–20 min</li>
            <li class="list-group-item">€6–18</li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
</section>
{% endblock %}
