{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}

{% block page_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/' + lang_code + '/restaurant.css') }}">
{% endblock %}

{% block navigation %}
{% include 'includes/' + lang_code + '/navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <aside class="sidebar">
        <div class="restaurants">
            <div class="restaurants-item">{{ _('Mcdonalds') }}</div>
            <div class="restaurants-item">{{ _('Burger King') }}</div>
            <div class="restaurants-item">{{ _('Dominoes') }}</div>
        </div>
        {% if lang_code =='pl' %}
        <div class="coupon-box">
            <h4>{{ _('Coupon Code') }}</h4>
            <input type="text" placeholder="{{ _('Enter Code') }}">
            <button>{{ _('Enter') }}</button>
        </div>
        {% elif lang_code == 'de' %}
        <div class="price-filter">
            <h4>{{ _('Price Filter') }}</h4>
            <label><input type="checkbox"> {{ _('Under 5€') }}</label><br>
            <label><input type="checkbox"> {{ _('5€ - 10€') }}</label><br>
            <label><input type="checkbox"> {{ _('10€ - 15€') }}</label><br>
            <label><input type="checkbox"> {{ _('Over 15€') }}</label>
        </div>
        <div class="coupon-box">
            <h4>{{ _('Coupon Code') }}</h4>
            <input type="text" placeholder="{{ _('Enter Code') }}">
            <button>{{ _('Enter') }}</button>
        </div>
        {% endif %}
    </aside>

    <main class="content">
        {% if lang_code in ['de', 'en'] %}
        <div class="search-bar">
            <input type="text" placeholder="{{ _('Search for restaurants or dishes...') }}">
            <button>{{ _('Search') }}</button>
        </div>
        {% elif lang_code =='pl' %}
        <div class="polish-promo">
            {{ _('Popular in Warsaw Today') }}
        </div>
        <div class="small-box-row">
            <div class="small-box">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo1.jpg') }}" alt="promo"/>
            </div>
            <div class="small-box">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo2.jpg') }}" alt="promo"/>
            </div>
            <div class="small-box">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo3.jpg') }}" alt="promo"/>
            </div>
        </div>
        {% endif %}

        <section class="intro">
            <h2 class="section-heading mb-0">
                <span class="section-heading-lower">{{ _('Menu') }}</span>
            </h2>
            <p>{{ _('Discover a selection of popular dining options tailored to your preferences.') }}</p>
        </section>

        <div class="menu-grid">

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item1.jpg') }}" alt="item1">
                <div class="menu-title">{{ _('Margherita Pizza') }}</div>
                <div class="menu-price">{{ _('€8.99') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item2.jpg') }}" alt="item2">
                <div class="menu-title">{{ _('Pepperoni Pizza') }}</div>
                <div class="menu-price">{{ _('€9.99') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item3.jpg') }}" alt="item3">
                <div class="menu-title">{{ _('BBQ Chicken Pizza') }}</div>
                <div class="menu-price">{{ _('€10.99') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item4.jpg') }}" alt="item4">
                <div class="menu-title">{{ _('Veggie Supreme') }}</div>
                <div class="menu-price">{{ _('€9.49') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item5.jpg') }}" alt="item5">
                <div class="menu-title">{{ _('Hawaiian Pizza') }}</div>
                <div class="menu-price">{{ _('€10.49') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item6.jpg') }}" alt="item6">
                <div class="menu-title">{{ _('Meat Lovers Pizza') }}</div>
                <div class="menu-price">{{ _('€11.99') }}</div>
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item7.jpg') }}" alt="item7">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Loaded Fries') }}</div>
                <div class="menu-price">{{ _('€4.99') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Double Deal') }}</div>
                <div class="menu-price">{{ _('€6.49') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Garlic Bread') }}</div>
                <div class="menu-price">{{ _('€4.99') }}</div>
                {% endif %}
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item8.jpg') }}" alt="item8">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Cheesy Garlic Bread') }}</div>
                <div class="menu-price">{{ _('€4.99') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Cheesy Dough Balls') }}</div>
                <div class="menu-price">{{ _('€5.99') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Chicken Wings') }}</div>
                <div class="menu-price">{{ _('€7.99') }}</div>
                {% endif %}
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item9.jpg') }}" alt="item9">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Cheesy Fries') }}</div>
                <div class="menu-price">{{ _('€6.49') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Dough Balls with Jalapenos') }}</div>
                <div class="menu-price">{{ _('€6.59') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Stuffed Cheesy Bread') }}</div>
                <div class="menu-price">{{ _('€6.49') }}</div>
                {% endif %}
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item10.jpg') }}"
                     alt="item10">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Cheesy Garlic Bread with Pepperoni') }}</div>
                <div class="menu-price">{{ _('€5.49') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Mexican Dough Balls') }}</div>
                <div class="menu-price">{{ _('€6.59') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Chocolate Lava Cake') }}</div>
                <div class="menu-price">{{ _('€5.49') }}</div>
                {% endif %}
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item11.jpg') }}"
                     alt="item11">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Pepsi Lemon Zero') }}</div>
                <div class="menu-price">{{ _('€2.29') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Mez Mix') }}</div>
                <div class="menu-price">{{ _('€1.29') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Coke') }}</div>
                <div class="menu-price">{{ _('€2.49') }}</div>
                {% endif %}
            </div>

            <div class="menu-card">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/menuitem/item12.jpg') }}"
                     alt="item12">
                {% if lang_code=='pl' %}
                <div class="menu-title">{{ _('Strawberry Lemonade') }}</div>
                <div class="menu-price">{{ _('€1.49') }}</div>
                {% elif lang_code=='de' %}
                <div class="menu-title">{{ _('Heineken') }}</div>
                <div class="menu-price">{{ _('€4.39') }}</div>
                {% else %}
                <div class="menu-title">{{ _('Sprite') }}</div>
                <div class="menu-price">{{ _('€2.49') }}</div>
                {% endif %}
            </div>

        </div>

        <section class="featured">
            <div class="big-box">
                <img src="{{ url_for('static', filename='assets/' + lang_code + '/dominos_deal.jpg') }}" alt="food"/>
            </div>
        </section>

        {% if lang_code in ['de', 'en'] %}
        <section class="promos">
            <h2 class="section-heading mb-0">
                <span class="section-heading-lower">{{ _('Recommended deals') }}</span>
            </h2>
            <div class="small-box-row">
                <div class="small-box">
                    <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo1.jpg') }}" alt="promo"/>
                </div>
                <div class="small-box">
                    <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo2.jpg') }}" alt="promo"/>
                </div>
                <div class="small-box">
                    <img src="{{ url_for('static', filename='assets/' + lang_code + '/promo3.jpg') }}" alt="promo"/>
                </div>
            </div>
        </section>
        {% endif %}

        <a href="{{ url_for('checkout') }}" class="checkout-btn">
            {{ _('Go to Checkout') }}
        </a>

    </main>

</div>

{% endblock %}
